In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1052,tt0938330,20000000,52302796,Silent Hill: Revelation 3D,Adelaide Clemens|Kit Harington|Sean Bean|Carri...,Michael J. Bassett,This Halloween prepare for a 3D ride through h...,Heather Mason and her father have been on the ...,94,Thriller|Horror|Mystery,Davis-Films|Konami Corporation Ltd.,10/10/2012,5.1,2012
46,tt2361509,35000000,194564672,The Intern,Robert De Niro|Anne Hathaway|Rene Russo|Anders...,Nancy Meyers,Experience never gets old,70-year-old widower Ben Whittaker has discover...,121,Comedy,Waverly Films|Warner Bros.,9/24/2015,7.1,2015
1739,tt0825232,45000000,175372502,The Bucket List,Jack Nicholson|Morgan Freeman|Sean Hayes|Bever...,Rob Reiner,"When he closed his eyes, his heart was opened",Corporate billionaire Edward and working class...,97,Comedy|Drama|Adventure,Warner Bros.|Storyline Entertainment|Two Ton F...,12/25/2007,6.9,2007
1821,tt0190590,26000000,71000000,"O Brother, Where Art Thou?",George Clooney|John Turturro|Tim Blake Nelson|...,Joel Coen,They have a plan...but not a clue.,"In the deep south during the 1930s, three esca...",106,Action|Adventure|Comedy,Universal Pictures|Studio Canal|Touchstone Pic...,8/30/2000,7.2,2000
1141,tt0305711,18000000,101564935,Just Married,Ashton Kutcher|Brittany Murphy|Christian Kane|...,Shawn Levy,Welcome to the honeymoon from hell.,Tom Leezak and Sarah McNerney fall in love and...,95,Comedy,Twentieth Century Fox Film Corporation|Robert ...,1/9/2003,5.3,2003

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.query('budget == budget.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [9]:
#Решение
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
#Ответ
answers['3'] = 'Winnie the Pooh (tt1449283)'

#Решение
data.query('runtime == runtime.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [11]:
#Ответ
answers['4'] = '110'

#Решение
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [12]:
#Ответ
answers['5'] = '107.0'

#Решение
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
#Ответ
answers['6'] = 'Avatar (tt0499549)'

# лучше код получения столбца profit вынести в Предобработку что в начале
#Решение
profit = pd.Series([data.revenue - data.budget][0])
data[profit == profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009

# 7. Какой фильм самый убыточный?

In [14]:
#Ответ
answers['7'] = 'The Lone Ranger (tt1210819)'

#Решение
data[profit == profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [43]:
#Ответ
answers['8'] = '1478'

#Решение 1
answer_8_1 = len(data[profit > 0])
display('Сбор выше бюджета у ' + str(answer_8_1) + ' фильма(ов)')

'Сбор выше бюджета у 1478 фильма(ов)'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
#Ответ
answers['9'] = 'The Dark Knight (tt0468569)'

#Решение
max_revenue_2008 = data[data.release_year == 2008]['revenue'].max()
data[(data.revenue == max_revenue_2008) & (data.release_year == 2008)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
#Ответ
answers['10'] = 'The Lone Ranger (tt1210819)'


#Решение. Создаем временный датафрейм dat2 на основе data с колонкой 'profit', это облегчит поиск. 
#Переменная profit была получена ранее
#Data2 будет использован и в следующих заданиях.
data2 = data.copy()
data2['profit'] = profit

#Сумма самого большого убытка за 2012-2014 год
reven_min_12_14 = data2[(data2.release_year >= 2012) & (data2.release_year <= 2014)]['profit'].min()

display(data2[(data2.profit == reven_min_12_14) & ((data2.release_year >= 2012) & (data2.release_year <= 2014))])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

#Ответ
answers['11'] = 'Drama'

data11 = data.copy()
#genres_counter - счетчик вхождения жанров
genres_counter = {}
#count_genres - функция подсчета количества вхождений жанров. На вход принимает строку с разделителем "|"
def count_genres(gen_str):
    gen_list = gen_str.split("|")
    for s in gen_list:
        if s in genres_counter: genres_counter[s] += 1
        else: genres_counter[s] = 1

data11.genres.apply(count_genres)

#преобразовываем словарь в pandas Series
gen_series = pd.Series(genres_counter)
display(gen_series[[gen_series.idxmax()]])

Drama    782
dtype: int64

ВАРИАНТ 2

In [19]:
#genres_counter2 - счетчик вхождения жанров
genres_counter2 = {}

data12 = data.copy()

for gen_str2 in data12['genres']:
    gen_list2 = gen_str2.split("|")
    for s2 in gen_list2:
        if s2 in genres_counter2: genres_counter2[s2] += 1
        else: genres_counter2[s2] = 1

#Выводим 0-й элемент отсортированного в обратном порядке счетчика вхождений
print(sorted(genres_counter2.items(), key=lambda x: x[1], reverse=True)[0])

('Drama', 782)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
#Ответ
answers['12'] = 'Drama'

#Решение.
#genres_counter3 - счетчик вхождения жанров
genres_counter3 = {}

#Исплользуем ранее созданный датафрем data2 с добавленной колонкой profit

for gen_str3 in data2[data2.profit > 0]['genres']:
    gen_list3 = gen_str3.split("|")
    for s3 in gen_list3:
        if s3 in genres_counter3: genres_counter3[s3] += 1
        else: genres_counter3[s3] = 1

#Выводим 0-й элемент отсортированного в обратном порядке счетчика вхождений
print(sorted(genres_counter3.items(), key=lambda x: x[1], reverse=True)[0])

('Drama', 560)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
#Ответ
answers['13'] = 'Peter Jackson'

#Решение.
grouped_directors = data.groupby(['director'])['revenue'].sum()
display(grouped_directors[[grouped_directors.idxmax()]])

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
#Ответ
answers['14'] = 'Robert Rodriguez'

#Решение.
data14 = data.copy()
data14 = data14[data14.genres.str.contains('Action', na = False)]

#Пребразуем значения колонки director в список
data14['director'] = data14.director.str.split('|')
#Фильмы с несколькими режиссерами раздяляем на несколько строк с одним режиссером в колонке director. 
#Далее группируем и подсчитываем количество вхождений.
data14.explode('director').groupby(['director'])['imdb_id'].count().sort_values(ascending=False)

director
Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
John Whitesell        1
Brian A Miller        1
Jon Amiel             1
Jon Avnet             1
Luis Mandoki          1
Name: imdb_id, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
#Ответ
answers['15'] = 'Chris Hemsworth'

#Решение.
data15 = data.copy()
#Выбираем только фильмы 2012 года
data15 = data15[data15.release_year == 2012]

#У фильма несколько актеров, преобразуем значение столбца cast  в список.
data15['cast'] = data15.cast.str.split('|')

#Фильмы с несколькими актерами раздяляем на несколько строк с одним актером в колонке cast. 
#Далее группируем и подсчитываем максимальный кассовый сбор.
display(data15.explode('cast').groupby(['cast'])['revenue'].sum().sort_values(ascending=False))

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
                        ...
Michael Nyqvist         3428048
Danny Huston            2106557
Josh Lucas              2106557
Sami Gayle              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
#Ответ
answers['16'] = 'Matt Damon'

#Решение.
data16 = data.copy()
#Получаем фильмы, чей бюджет выше среднего
data16 = data16[data16.budget > data16.budget.mean()]

data16['cast'] = data16.cast.str.split('|')
#Разделяем по строкам фильмы по одному актеру, группируем и подсчитываем количество вхождений.
data16.explode('cast').groupby(['cast'])['imdb_id'].count().sort_values(ascending=False)

cast
Matt Damon                 18
Adam Sandler               17
Angelina Jolie             16
Tom Cruise                 15
Eddie Murphy               15
                           ..
Jennifer Hudson             1
Jennifer Jason Leigh        1
Jennifer Saunders           1
Jennifer Tilly              1
Ã“lafur Darri Ã“lafsson     1
Name: imdb_id, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
#Ответ
answers['17'] = 'Action'
#Решение.
data17 = data.copy()
#Получаем фрейм с фильмами, где снимался Великий, Несравненный, Божественный Николас наш дорогой Кейдж (он же племянник Кополлы)
data17 = data17[data17.cast.str.contains('Nicolas Cage', na=False)]

#genres_counter17 - счетчик вхождения жанров
genres_counter17 = {}

#Проходим по всем фильмам Кейжджа и считаем жанры.
for gen_str17 in data17['genres']:
    gen_list17 = gen_str17.split("|")
    for s17 in gen_list17:
        if s17 in genres_counter17: genres_counter17[s17] += 1
        else: genres_counter17[s17] = 1
            
#Выводим 0-й элемент отсортированного в обратном порядке счетчика вхождений
print(sorted(genres_counter17.items(), key=lambda x: x[1], reverse=True)[0])

('Action', 17)

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
#Ответ
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

#Решение.
#Используем ранее созданный датафрейм data2 с колонкой profit. И суицидим, пытаясь уместить решение в одну строку.
display(data2[(data2.production_companies.str.contains('Paramount Pictures')) 
              & (data2.profit == data2[data2.production_companies.str.contains('Paramount Pictures')]['profit'].min())])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
#Ответ
answers['19'] = '2015'

#Решение.
data19 = data.copy()

display(data19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False))

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
#Ответ
answers['20'] = '2014'

#Решение.
#Используем ранее созданный датафрейм data2 с колонкой profit
data20 = data2.copy()
data20 = data20[data20.production_companies.str.contains('Warner Bros')]

display(data20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False))

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
#Ответ
answers['21'] = 'Сентябрь'

#Решение.
#Оставляем только значение месяца в передаваемой строке str_date
def only_month(str_date):
    index = str(str_date).find('/')
    if index > -1: return str_date[:index]


data21 = data.copy()
#Добавляем столбец release_month
data21['release_month'] = data21.release_date.apply(only_month)
display(str(data21.groupby(['release_month'])['imdb_id'].count().sort_values(ascending=False).index[0]) + 
        " - номер месяца, в котором вышло больше всего фильмов.")

'9 - номер месяца, в котором вышло больше всего фильмов.'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
#Ответ
answers['22'] = '450'

#Решение.
#Воспользуемся результатом из предыдущего задания
sum_month = data21.groupby(['release_month'])['imdb_id'].count().sort_values(ascending=False)
display('Суммарно за летние месяцы вышло фильмов: ' + str(sum_month['6'] + sum_month['7'] + sum_month['8']))

'Суммарно за летние месяцы вышло фильмов: 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
#Ответ
answers['23'] = 'Peter Jackson'

#Решение.
#Воспользуемся результатом из предыдущего задания. Датафрейм data21 содержит столбец release_month.

data23 = data21.copy()

#Выбираем из датафрейма только фильмы, вышедшие в зимние месяцы.
data23 = data23[data23['release_month'].isin(['12','1','2'])]

data23['director'] = data23.director.str.split('|')
data23.explode('director').groupby(['director'])['imdb_id'].count().sort_values(ascending=False)

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Adam Shankman        4
                    ..
John Luessenhop      1
John Musker          1
John Polson          1
Callan Brunker       1
Xavier Palud         1
Name: imdb_id, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
#Ответ
answers['24'] = 'Four By Two Productions'

#Решение.
data24 = data.copy()
data24['production_companies'] = data24.production_companies.str.split('|')

#Добавляем столбец с длиной названия фильмов
data24['orig_title_len'] = data24.original_title.str.len()

#Разделяем строки, чтобы каждая содержала только 1 название студии. 
#Группируем по названию студий, вычисляем среднюю длину и сортируем по убыванию.
data24.explode('production_companies').groupby(['production_companies'])['orig_title_len'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: orig_title_len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
#Ответ
answers['25'] = 'Midnight Picture Show'

#Решение.
data25 = data.copy()
data25['production_companies'] = data25.production_companies.str.split('|')

#Добавляем столбец с количеством слов в названии. Получаем его из подсчета пробелоы в названии фильма.
data25['ov_word_count'] = data25.overview.str.count(" ")

#Разделяем строки, чтобы каждая содержала только 1 название студии. 
#Группируем по названию студий, вычисляем среднее количество слов и сортируем по убыванию.
data25.explode('production_companies').groupby(['production_companies'])['ov_word_count'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    174.0
Heineken Branded Entertainment           160.0
Room 9 Entertainment                     160.0
98 MPH Productions                       158.0
Brookwell-McNamara Entertainment         155.0
                                         ...
Henceforth                                12.0
Our Stories Films                         12.0
London Boulevard                          12.0
Motion Picture Corporation of America     10.0
Empire Pictures                           10.0
Name: ov_word_count, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
#Ответ
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

#Решение.


data26 = data.copy()

#Получаем датафрейм с фильмами, входящими в 0.99 квантиль
data26 = data26[data26.vote_average > data26.vote_average.quantile(0.99)]

#Варианты наборов фильмов, которые будем искать в 1% лучших
vars = ['Inside Out, The Dark Knight, 12 Years a Slave', 
        'BloodRayne, The Adventures of Rocky & Bullwinkle',
        'Batman Begins, The Lord of the Rings: The Return of the King, Upside Down',
        '300, Lucky Number Slevin, Kill Bill: Vol. 1',
        'Upside Down, Inside Out, Iron Man']

#Разбираем варианты на списки
for v in range(len(vars)): vars[v] = vars[v].split(',')
    
for vr in vars:
    #Количество совпадений с 1% лучших списков
    count26 = 0
    for check_title in vr:
        if (data26.original_title == check_title.strip()).any(): 
            count26 += 1
    #Если количество совпадений равно количеству элементов в списке, значит у нас БИНГО!
    if count26 == len(vr): display("Фильмы " + ','.join(vr) + " входят в 1% лучших по рейтингу")

'Фильмы Inside Out, The Dark Knight, 12 Years a Slave входят в 1% лучших по рейтингу'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [35]:
#Ответ
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

#Решение.

data27 = data.copy()
data27['cast'] = data27.cast.str.split('|')

#Получаем список списков актеров. Каждый элемент - список актеров в конкретном фильме.
actors = list(data27['cast'])

from collections import Counter
from itertools import combinations

#Счетчик совпадающих пар.
d  = Counter()

#Проходим по всем элементам списка списков актеров
for sub in actors:
    #Если в фильме снялся один актер (привет Гришковец), то искать пару актеров бессмысленно.
    if len(actors) < 2:
        continue
    
    #Сортируем список актеров фильма.
    sub.sort()
    #Проходим по парным комбинациям списка актеров и заносим их в счетчик.
    for comb in combinations(sub,2):
        d[comb] += 1

#Выводим 5 самых частых вхождений в счетчик
display(d.most_common(5))

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

# Submission

In [36]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [37]:
# и убедиться что ни чего не пропустил)
len(answers)

27